@media screen and (max-width: 1199px) {
  header h4 {
    font-size: 13px;
    margin-bottom: 0;
  }

  .lang {
    gap: 2rem;
  }

  .lang div#eng {
    gap: 20px;
  }

  .sec-1 h1 a {
    font-size: 35px;
  }

  .product {
    font-size: 15px;
    width: 500px;
    margin: 0 40px 0 10px;
  }

  .product form {
    padding-left: 10px;
  }

  .product h4 {
    font-size: 14px;
    width: 200px;
    padding-right: 0;
  }

  .sec-1 .container {
    align-items: center;
    justify-content: center;
  }

  input[type="text"] {
    width: 200px;
    font-size: 14px;
  }

  .cart-sec {
    align-items: center;
  }

  .cart-sec h4,
  .cart-sec h5 {
    margin-bottom: 0;
  }

  .cart-sec h4 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
  }

  .heart {
    align-items: center;
  }

  .heart h5 {
    font-size: 13px;
  }

  .heart img {
    width: 28px;
  }

  .sec-1 .fa-heart {
    font-size: 35px;
  }

  /* NAV STARTS  */
  .sec-2 .container>div .wrapper {
    gap: 1.3rem;
  }

  /* NAV ENDS  */
  .hardware h4 {
    gap: 0;
  }

  .drop {
    width: 270px;
  }
}

@media screen and (max-width: 991px) {

  /* Nav responsiveness  starts*/

  .dropdown1.links {
    display: none;
  }

  .dropdown1 {
    position: initial;
    width: 100%;
    box-shadow: none;
    background-color: transparent;
    max-height: 0;
    transition: .3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    grid-template-rows: 0fr;
    overflow: hidden;
    display: grid;
  }

  .dropdown1.show a {
    opacity: 1;
    transition: .3s .1s;
  }

  .dropdown1.show {
    grid-template-rows: 1fr;
    max-height: 100%;
    height: auto;
    visibility: visible;
    opacity: 1;
    transition: .3s ease-in-out;
  }
  .dropdown1.two.show {
    height: 150px;
  }

  header {
    padding: 10px 0 5px;
    font-size: 10px;
  }

  header h4 {
    font-size: 12px;
  }

  header i {
    font-size: 11px;
  }

  .lang div#eng {
    display: none;
  }

  .sec-1 .container {
    gap: 3rem;
    flex-direction: column;
    align-items: initial;
    justify-content: initial;
    position: relative;
  }

  .sec-1 .fa-heart {
    font-size: 40px;
  }

  .heart img {
    width: 30px;
  }

  .heart {
    align-items: center;
  }

  .heart span {
    text-align: right;
  }

  .product {
    width: 100%;
  }

  .product form {
    width: 100%;
    padding: 8px 0 8px 5px;
  }

  .product #search {
    position: absolute;
    left: 94%;
  }

  .cart-sec {
    position: absolute;
    right: 0;
    top: 0;
  }

  .sec-2 .container>div {
    display: initial;
  }

  .sec-2 .container>div ul {
    flex-direction: column;
    background-color: #0e8ce4;
    gap: 0;
    margin-top: 20px;
    height: 0;
    padding: 0 20px;
    transition: .3s ease-in-out;
    visibility: hidden;
    width: 100%;
  }
  .sec-2 .container>div ul.list .wrapper {
    max-height: 0;
    overflow: hidden;
    transition: .3s ease-in-out;
  }
  .sec-2 .container>div ul.nav {
    visibility: visible;
    position: relative;
    z-index: 2326761721082812073;
    height: auto;
  }
  .sec-2 .container>div ul.nav .wrapper {
    max-height: 100%;
    display: block;
  }

  .sec-2 .container>div ul input {
    padding: 8px;
    padding-left: 15px;
    margin: 15px 0;
    outline: none;
    border: none;
    font-size: 15px;
    width: 100%;
  }

  .sec-2 .container>div ul a {
    width: 100%;
  }

  div.one a{
    display: block;
  }
  .sec-2 .container>div ul li {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 0;
    font-size: 14px;
    border-bottom: 1px solid #ffffff52;
  }

  /* div#deals:hover .dropdown1 {
    visibility: hidden;
  } */

  .sec-2 .container>div ul .email {
    padding: 15px 0;
    color: #fff;
  }

  .sec-2 .container>div ul .email h4 {
    font-size: 10px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 0;
  }

  #aa a {
    border-bottom: 0;
  }

  .email #aa {
    align-items: center;
  }

  .sec-2 .container>div ul a li:hover,
  .sec-2 .container>div ul a:hover {
    color: #fff;
  }

  li#pages {
    display: none;
  }

  li#language,
  li#currency,
  li#styles {
    display: block;
  }

  .categories {
    width: 100%;
    justify-content: space-between;
    padding-left: 30px;
  }

  .categories>div {
    display: flex;
    gap: 1rem;
    cursor: pointer;
  }

  .categories div:nth-child(2) {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-42%);
  }

  .drop {
    z-index: 1000;
  }

  #deals > p{
    display: none;
  }

  #deals .dropdown1 a {
    padding: 15px 0;
    width: 90%;
    margin: auto;
    color: #fff;
    text-transform: uppercase;
  }

  div.one {
    margin-top: 0;
    position: initial;
    border-bottom: none;
    padding: 0;
  }

  .dropdown1-2 {
    position: initial;
    visibility: visible;
    opacity: 1;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    width: 90%;
    margin: auto;
    height: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    opacity: 0;
  }

  .dropdown1 .one .dropdown1-2.show {
    height: 192px;
    visibility: visible;
    opacity: 1;
    transition: all .3s ease-in-out;
  }

  .dropdown1-2.show a {
    opacity: 1;
    transition: .3s .1s;
    visibility: visible;
  }

  .dropdown1-2 a {
    visibility: hidden;
    transition: .3s .1s;
    opacity: 0;
  }
  /* div.one.two > a:first-child {
    display: none;
  } */

  /* .dropdown1-2 a:first-child {
    display: none;
  } */

  ul.nav .child {
    display: flex;
    flex-direction: column;
    height: 0;
    visibility: hidden;
    transition: .3s ease-in-out;
    opacity: 0;
    padding: 0;
    transition: height .3s ease-in-out;
  }
  
  .sec-2 .container>div ul .child.show {
    height: 192px;
    border-bottom: none;
    visibility: visible;
    opacity: 1;
    transition: height .3s ease-in-out;
  }
  
  #language p, #currency p {
    margin-bottom: 0;
    padding: 15px 0;
    width: 90%;
    margin: auto;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 1px solid #e9e9e977;
    font-size: 14px;
    transition: .3s .1s;
    opacity: 0;
  }

  #language .child.show p, #currency .child.show p{
    opacity: 1;
    transition: .3s .1s;
  }

  .sec-2 .container>div ul .child a {
    padding: 15px 0;
    border-bottom: 1px solid #ffffff52;
    width: 90%;
    margin: auto;
    color: #fff;
  }

  div#deals:hover .dropdown1 {
    visibility: hidden;
  }

  div#deals:hover .dropdown1.show {
    visibility: visible;
  }

  #language span {
    display: block;
  }

  #currency span {
    display: block;
  }

  #language {
    padding-top: 30px;
  }

  .sec-2 .container>div ul .child a:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
  
  #language p:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }

  .dropdown1 .one > p:first-child {
    padding: 15px 0;
    width: 90%;
    margin: auto;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 1px solid #e9e9e977;
    font-size: 14px;
    font-weight: 500;
  }

  .dropdown1-2 + p {
    display: none;
  }
  /* Nav responsiveness  ends*/

  /* News letter starts  */

  .news-letter .container {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2rem;
  }

  section#links .col-wrapper {
    display: initial;
  }

  .news-letter #subscribe {
    width: 100%;
  }

  /* news-letter ends  */

  /* links sectiion starts */

  section#links .col-wrapper a {
    display: inline-block;
  }

  section#links .col-wrapper #head {
    margin-bottom: 15px;
    margin-top: 6px;
  }

  section#links .col-one h1 {
    margin-top: 30px;
  }

  section#links {
    display: initial;
  }

  section#links .col-wrapper .col-three {
    margin-top: 40px;
  }

  section#links .col-wrapper .col-four {
    margin-bottom: 40px;
  }

  /* links sectiion ends */
}

@media screen and (max-width: 768px) {
  /* .sec-2 .container>div ul.nav {
    height: 558px;
  } */
}